/* D:\web-for-user\madrashaUR\fontend\public\asset\fonts */

@font-face{
    font-family: "NikoshBAN";
    src: url("./asset/fonts/NikoshBAN.ttf") format("truetype");
  }

.font-NikoshBAN{
    font-family: NikoshBAN;
}

body {
  background-image: url("./asset/paper.gif");
  background-color: #fff;
  max-width: 1300px;
}